/* .toolbarClassName {
  border-radius: 10px;
} */
/* .wrapperClassName {
  border: 1px solid rgb(231, 221, 221);
  padding: 1rem;
} */
.editorClassName {
  background-color: #fff; 
  height: 300px !important;
}